video{
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.perfil{
    position: relative;
    top: 150px;
    left: 70%;
    width: 200px;
    height: 200px;
    transform: translateX(-50%) scaleX(-1);
}