header{
    position: fixed;
    width: 90%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 5PX 20px;
    margin: 20px 5%;
    border-radius: 100px;
    background-color: var(--surface-clear);
    box-shadow: 0 0 20px var(--shadow-dark);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: 1000;
}

header h1 a{
    font-family: 'Orbitron', sans-serif;
    font-size: var(--text-xlg);
    font-family: var(--font-heading);
    color: var(--brand-glow);
    text-shadow: 1px 1px 10px var(--brand-glow);
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 5%;
}

nav a{
    text-decoration: none;
    color: var(--text-color-primary);
    font-size: var(--text-smd);
    padding: 6px 12px;
    border-radius: 5px;
    transition: 0.3s, color 0.3s;
}

nav a:hover{
    background-color: var(--surface-opacity);
    color: var(--brand-color);
    box-shadow: 0 0 15px var(--shadow-glow);
    text-shadow: 0 0 5px var(--shadow-glow);
    transition: 0.3s, color 0.3s;
}

header div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;  
    margin-left: 10%;
}

header div a{
    font-size: var(--text-md);
    color: var(--brand-color);
    transition: 0.3s;
}

header div a:hover{
    font-size: var(--text-md);
    color: var(--brand-glow);
    text-shadow: 0 0 15px var(--shadow-glow);
    transition: 0.3s;
}

header button{
    place-self: center;
    padding: 5px 10px;
    font-size: var(--text-smd);
    border: 2px solid var(--brand-glow);
    border-radius: 5px;
    background-color: transparent;
    color: var(--brand-glow);
    margin-left: 10%;
    transition: 0.3s;
}

header button:hover{
    background-color: var(--brand-glow);
    color: var(--background-color);
    box-shadow: 0 0 15px var(--shadow-glow);
    text-shadow: 0 0 5px var(--shadow-glow);
    transition: 0.3s;
}


