video{
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.home{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-text{
    margin-top: 50px;
    color: var(--text-primary);
    z-index: 1;
}

.home-text h4{
    font-size: var(--text-xlg);
    color: var(--text-color-primary); 
    font-weight: 100;
}

.home-text h4 span{
    display: inline-block;
    font-size: var(--text-xlg);
    color: var(--brand-glow);
    text-shadow: 1px 1px 10px var(--shadow-glow);        
    font-weight: bold;
    animation: wave 3s ease-out infinite;
}
@keyframes wave {
    0% { transform: rotate(0.0deg) }
   10% { transform: rotate(14.0deg) }   
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate(0.0deg) } 
   100% { transform: rotate(0.0deg) }
}

.home-text h2{                                 
    font-size: var(--text-xl);
    color: var(--text-color-primary);
    font-weight: 100;
    margin-bottom: 20px;
}
                           
.home-text h2 span{
    color: var(--brand-glow);
    text-shadow: 1px 1px 10px var(--shadow-glow);        
}                                                                 

.home-text h3{
    color: var(--brand-glow);
    font-size: var(--text-lg);
    font-weight: 600;
    width: 0;
    border-right: 3px solid var(--brand-glow);
    text-shadow: 1px 1px 10px var(--shadow-glow);
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(20, end) forwards, blink 0.8s infinite;
}
@keyframes typing {
    from {  }
    to { width: 17.4ch; }
}  
@keyframes blink {
    50% { border-color: transparent }
}

.home-text a{
    display: inline-block;
    margin-top: 35px;
    padding: 10px 25px;
    font-size: var(--text-smd);
    font-weight: bold;
    color: var(--text-color-primary);
    background-color: var(--surface-opacity);
    border: 2px solid var(--brand-glow);
    text-decoration: none;
    box-shadow: 0 0 10px var(--shadow-glow);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    transition: 0.3s;
}

.home-text a:hover{
    background-color: var(--brand-glow);
    color: var(--background-color);
    box-shadow: 0 0 20px var(--shadow-glow);
    text-shadow: 0 0 10px var(--shadow-glow);
}

.gv-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
}

.perfil1{
    position: relative;
    left: 100%;
    width: 400px;
    height: 400px;
    transform: translateX(-50%) scaleX(-1);
    filter: drop-shadow(0 0 5px var(--shadow-glow));
    animation: ar 3s ease-in-out infinite;
}
@keyframes ar {
        0% {
        transform: translateX(-50%) scaleX(-1) rotate(0deg);
    }
    50% {
        transform: translateX(-50%) scaleX(-1) rotate(-0.7deg);
    }
    100% {
        transform: translateX(-50%) scaleX(-1) rotate(0deg);
    }
}

.code{
    position: relative;
    width: 400px;
    height: 400px;
    transform: translateX(-50%) scaleX(-1);
    filter: drop-shadow(-11px 7px 10px var(--shadow-glow));
    animation: float 3s ease-in-out infinite;
}
@keyframes float {
        0% {
        transform: translateX(-50%) scaleX(-1) translateY(15px) rotate(0deg);
    }
    50% {
        transform: translateX(-50%) scaleX(-1) translateY(5px) rotate(1deg);
    }
    100% {
        transform: translateX(-50%) scaleX(-1) translateY(15px) rotate(0deg);
    }
}