.projects{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.projects h2{
    margin-top: 100px;
    font-size: var(--text-xl);
    color: var(--text-color-primary);
}

.projects h2 span{
    color: var(--brand-glow);
    text-shadow: 0 0 10px var(--shadow-glow);        
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 100px;
    flex-wrap: wrap;
}

.card{
    position: relative;
    background: var(--master-black);
    box-shadow: 0 0 10px var(--shadow-glow);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 300px;
    height: 500px;
    align-self: center;
    text-align: center;
    justify-self: center;
    border-radius: 10px;
    border: 1px solid var(--brand-color);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(-opacity);
    opacity: 0.98;
}

.card:hover{
    transform: scale(1.01);
    box-shadow: 0 0 20px var(--shadow-glow);
    background: var(--background-color);
    border: 1px solid var(--brand-glow);
    transform: translatey(-3%) scaleX(1);
    opacity: 1;
}

.card h3{
    margin-top: 10px;
    font-size: var(--text-md);
    color: var(--text-color-primary);
}

.card img{
    padding: 20px;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 30px;
}

.show-project {
    position: absolute;
    top: 58px; 
    left: 20px; 
    width: calc(100% - 40px); 
    height: 160px;
    background-color: rgba(20, 20, 20, 0.6);
    border-radius: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    opacity: 0; 
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 2;
}

.card:hover .show-project {
    opacity: 1;
    visibility: visible;
}

.card a{
    z-index: -1;
}

.card a i {
    font-size: var(--text-lg);
    color: var(--master-black);
    padding: 10px;
    background: var(--master-white);
    border-radius: 50%;
    transition: 0.2s ease;
}

.card a i:hover {
    color: var(--brand-glow);
    background: var(--master-black);
    box-shadow: 0 0 20px var(--shadow-glow);
    transition: 0.2s ease;
}

.card p{
    margin: 10px;
    font-size: var(--text-sm);
    color: var(--text-color-secondary);
}

.sombra {
    position: absolute;
    width: 1px;
    height: 1px;
    border-radius: 100%;
    box-shadow: 0 0 100px 750px var(--shadow-dark);
    margin-top: 750px;
    z-index: -1;
}