.skills{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.skills h2{
    margin-top: 100px;
    font-size: var(--text-xl);
    color: var(--text-color-primary);
}

.skills h2 span{
    color: var(--brand-glow);
    text-shadow: 0 0 10px var(--shadow-glow);        
}

.skills-container{
    display: grid;
    grid-template-columns: repeat(3, minmax(120px, 1fr));
    align-items: center;
    justify-items: center;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 70%;
    height: auto;
    perspective: 800px;
}

.skill {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--master-black);
    border-radius: 20px;
    border: 1px solid transparent;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: transform 150ms ease, box-shadow 150ms ease;
    transform-style: preserve-3d;
    will-change: transform;
  }
  
  /* Glow animado*/
  .skill::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px;
    padding: 2px;
    background: linear-gradient(45deg, var(--brand-glow), transparent, var(--brand-glow));
    background-size: 200%;
    animation: borderGlow 3s linear infinite;
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
  }
  
  @keyframes borderGlow {
    0% { background-position: 0%; }
    100% { background-position: 200%; }
  }
  
  /* Hover */
  .skill:hover {
    box-shadow: 0 0 20px var(--brand-glow);
  }

  .skill i {
    font-size: var(--text-xl);
    color: var(--brand-glow);
    transition: 0.3s;
  }
  
  .skill h3 {
    margin-top: 20px;
    font-size: var(--text-md);
    color: var(--text-color-primary);
    text-shadow: 0 0 2px var(--text-color-primary);
    transition: 0.5s;
  }
  
  .skill:hover i {
    margin-top: 40px;
    transform: scale(2);
    transition: 0.5s;
  }
  
  .skill:hover h3 {
    opacity: 0;
  }

  /* HTML */
.skill:nth-child(1) { --brand-glow: #ff4500; }

/* CSS */
.skill:nth-child(2) { --brand-glow: #007bff; }

/* JavaScript */
.skill:nth-child(3) { --brand-glow: #f7df1e; }

/* Bootstrap */
.skill:nth-child(4) { --brand-glow: #7909f7; }

/* Git */
.skill:nth-child(5) { --brand-glow: #f34f29; }

/* React */
.skill:nth-child(6) { --brand-glow: #00e6ff; }

/* Tailwind */
.skill:nth-child(7) { --brand-glow: #38bdf8; }

/* GitHub */
.skill:nth-child(8) { --brand-glow: #ffffff; }

/* Figma */
.skill:nth-child(9) { --brand-glow: #aa7fee; }


.sombra {
    position: absolute;
    width: 1px;
    height: 1px;
    border-radius: 100%;
    box-shadow: 0 0 100px 400px var(--shadow-dark);
    margin-top: 750px;
    z-index: -1;
}

