@import url('global.css');
@import url('header.css');
@import url('home.css');
@import url('about.css');
@import url('projects.css');
@import url('skills.css');
@import url('contact.css');
@import url('footer.css');